<html>
<body>
	<form action="/createAccount" method="post">
		Username: <input type="text" name="name"><br>
    Password: <input type="password" name="password"><br>
    Confirm Password: <input type="password" name="confirmPassword"><br>
	<input type="submit" value="Create Account">
	</form>
</body>
</html>