<html>
	<head>
	<title>Restaurants List</title>
	</head>
	<body>
		<H1>Restaurants List</H1>
        <ol>
            <% result.forEach(function(restaurant) { %>
        <li><a href=/display?id=<%= restaurant._id %>><%= restaurant.name %></a></li>
        <% });%>
		</ol>

	</body>
</html>