<html>
<body>
	<form action="/new" method="post">
    Name: <input type="text" name="name"><p style="color:#FF0000;">*</p><br>
    Owner: <input type="text" name="owner"><p style="color:#FF0000;">*</p><br>
		Borough: <input type="text" name="borough"><br>
		Cuisine: <input type="text" name="cuisine"><br>
		Street: <input type="text" name="street"><br>
		Building: <input type="text" name="building"><br>
		Zipcode: <input type="text" name=zipcode><br>
		GPS Coordinates (lon.): <input type="text" name="lon"><br>
		GPS Coordinates (lat.): <input type="text" name="lat"><br>
		Photo: <input type="file" name="files"><br>
	<input type="submit" value="Create">
	</form>
</body>
</html>